.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 12px;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  background: var(--gray09);
}

.container-fluid-dark {
  width: 100%;
  margin: 0 auto;
  background: var(--gray01);
}

.container-fluid-menu {
  width: 100%;
  margin: 0 auto;
  background: var(--gray08);
  border-bottom: 1px solid var(--gray05);
}

.container-fluid-footer {
  width: 100%;
  margin: 0 auto;
  padding: 60px 0;
  background: var(--gray08);
  border-bottom: 1px solid var(--gray05);
}

.container-fluid-list {
  width: 100%;
  margin: 0 auto;
  padding: 0px 12px;
  background: var(--white);
}

.top {
  padding: 50px 0 60px 0;
}

.top h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--gray01);
}

.top p.subtxt {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--gray04);
  padding-top: 4px;
}

.top__rank {
  margin-top: 20px;
  display: flex;
  gap: 24px;
}

@media screen and (max-width: 768px) {
  .top {
    padding: 0;
  }
  .top__rank {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .container {
    padding: 0 16px;
  }
}

.link-more {
  width: 100%;
  display: inline-flex;
  padding: 7px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 60px;
  font-size: 1.3rem;
  color: var(--gray03) !important;
  font-weight: 600;
}

.link-more.v2 {
  margin-bottom: 0;
  font-size: 1.3rem;
  color: var(--white) !important;
  margin-top: 20px;
}

.second {
  max-width: 1180px;
  margin: 0 auto;
  padding: 100px 12px 70px 12px;
}

.second h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--gray01);
}

.second p.subtxt {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--gray04);
  padding-top: 4px;
}

@media screen and (max-width: 768px) {
  .second {
    padding: 60px 16px 0 16px;
  }
}

.card-container {
  padding-top: 20px;
  margin-bottom: 30px;
}
