.header {
  width: 100%;
  max-width: 1180px;
  height: 64px;
  background: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
  margin: 0 auto;
}

.header .header__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.header .header__left h1 img.logo {
  width: 66px;
  height: 28px;
}

.header .header__right {
  position: relative;
}

.header .header__right .language {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.header .header__right .language .icon-global {
  width: 16px;
  height: 16px;
  background-image: url(../img/global.svg);
}

.header .header__right .language .lang {
  font-size: 1.3rem;
  line-height: 2.4;
  color: var(--gray01);
}

.header .header__right .language .icon-arrow-down {
  width: 10px;
  height: 10px;
  background-image: url(../img/down-arrow.svg);
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0px 16px;
  }
}

.lang-pulldown {
  display: none;
  width: 140px;
  position: absolute;
  z-index: 10;
  top: 30px;
  right: 0;
}

.pulldown {
  width: 100%;
  padding: 10px 0;
  background-color: var(--white);
  border-radius: 5px;
  border: 1px solid var(--gray06);
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
}

.pulldown .pulldown-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 36px;
  padding: 10px 16px;
  cursor: pointer;
}

.pulldown .pulldown-list:hover {
  background-color: var(--gray06);
}

.pulldown .pulldown-list .pulldown-icon {
  width: 16px;
  height: 16px;
  line-height: 100%;
}

.pulldown .pulldown-list .pulldown-text {
  font-size: 1.3rem;
  color: var(--gray01);
  font-weight: 400;
}
