.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 12px;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  background: var(--gray09);
}

.container-fluid-dark {
  width: 100%;
  margin: 0 auto;
  background: var(--gray01);
}

.container-fluid-menu {
  width: 100%;
  margin: 0 auto;
  background: var(--gray08);
  border-bottom: 1px solid var(--gray05);
}

.container-fluid-footer {
  width: 100%;
  margin: 0 auto;
  padding: 60px 0;
  background: var(--gray08);
  border-bottom: 1px solid var(--gray05);
}

.container-fluid-list {
  width: 100%;
  margin: 0 auto;
  padding: 0px 12px;
  background: var(--white);
}

.top {
  padding: 50px 0 60px 0;
}

.top h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--gray01);
}

.top p.subtxt {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--gray04);
  padding-top: 4px;
}

.top__rank {
  margin-top: 20px;
  display: flex;
  gap: 24px;
}

@media screen and (max-width: 768px) {
  .top {
    padding: 0;
  }
  .top__rank {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .container {
    padding: 0 16px;
  }
}

.link-more {
  width: 100%;
  display: inline-flex;
  padding: 7px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 60px;
  font-size: 1.3rem;
  color: var(--gray03) !important;
  font-weight: 600;
}

.link-more.v2 {
  margin-bottom: 0;
  font-size: 1.3rem;
  color: var(--white) !important;
  margin-top: 20px;
}

.second {
  max-width: 1180px;
  margin: 0 auto;
  padding: 100px 12px 70px 12px;
}

.second h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--gray01);
}

.second p.subtxt {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--gray04);
  padding-top: 4px;
}

@media screen and (max-width: 768px) {
  .second {
    padding: 60px 16px 0 16px;
  }
}

.card-container {
  padding-top: 20px;
  margin-bottom: 30px;
}

/* header */
.header {
  width: 100%;
  max-width: 1180px;
  height: 64px;
  background: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
  margin: 0 auto;
}

.header .header__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.header .header__left h1 img.logo {
  width: 66px;
  height: 28px;
}

.header .header__right {
  position: relative;
}

.header .header__right .language {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.header .header__right .language .icon-global {
  width: 16px;
  height: 16px;
  background-image: url(../img/global.svg);
}

.header .header__right .language .lang {
  font-size: 1.3rem;
  line-height: 2.4;
  color: var(--gray01);
}

.header .header__right .language .icon-arrow-down {
  width: 10px;
  height: 10px;
  background-image: url(../img/down-arrow.svg);
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0px 16px;
  }
}

.lang-pulldown {
  display: none;
  width: 140px;
  position: absolute;
  z-index: 10;
  top: 30px;
  right: 0;
}

.pulldown {
  width: 100%;
  padding: 10px 0;
  background-color: var(--white);
  border-radius: 5px;
  border: 1px solid var(--gray06);
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
}

.pulldown .pulldown-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 36px;
  padding: 10px 16px;
  cursor: pointer;
}

.pulldown .pulldown-list:hover {
  background-color: var(--gray06);
}

.pulldown .pulldown-list .pulldown-icon {
  width: 16px;
  height: 16px;
  line-height: 100%;
}

.pulldown .pulldown-list .pulldown-text {
  font-size: 1.3rem;
  color: var(--gray01);
  font-weight: 400;
}

/* nav */
nav {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.nav {
  width: 100%;
  max-width: 1180px;
  height: 56px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 12px;
  gap: 60px;
  color: var(--gray02);
  font-size: 1.6rem;
  font-weight: 600;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.nav::-webkit-scrollbar {
  display: none;
}

.nav li {
  padding: 16px 0 0 0;
  height: 56px;
}

.nav li a:hover {
  opacity: 0.8;
}
.nav li.on {
  border-bottom: 4px solid var(--gray02);
}

.nav__sub {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 1px;
}

.nav__sub ul {
  width: 100%;
  max-width: 1180px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0 auto;
  padding: 0 12px;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.nav__sub ul::-webkit-scrollbar {
  display: none;
}

.nav__sub ul li {
  padding: 10px 10px 0 10px;
  font-size: 1.3rem;
  color: var(--gray03);
  font-weight: 600;
  height: 40px;
}

.nav__sub ul li.on {
  border-bottom: 3px solid var(--gray02);
  color: var(--gray01);
}

.nav__sub ul li:hover {
  color: var(--gray01);
}

@media screen and (max-width: 768px) {
  .nav {
    padding: 0 12px;
    gap: 30px;
  }
}

/* menu */
.menu {
  max-width: 1196px;
  margin: 0 auto;
  position: relative;
  top: -50px;
  padding: 0 20px;
}

/* menu warp */
.menu-warp {
  width: 100%;
  border-radius: 5px;
  height: 126px;
  width: 100%;
  background-color: var(--gray09);
  filter: drop-shadow(4px 4px 10px rgba(174, 174, 192, 0.2));
}

.menu-warp .menu-warp__list {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 50px;
  width: 100%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.menu-warp .menu-warp__list::-webkit-scrollbar {
  display: none;
}

.menu-warp .menu-warp__list ul {
  padding: 0 20px;
  display: flex;
  gap: 12px;
}
.menu-warp .menu-warp__list ul li {
  padding: 14px 10px 0 10px;
  font-size: 1.3rem;
  color: var(--gray03);
  font-weight: 600;
  height: 50px;
}

.menu-warp .menu-warp__list ul li.on {
  border-bottom: 3px solid var(--gray02);
  color: var(--gray01);
}
.menu-warp .menu-warp__list ul li:hover {
  color: var(--gray01);
}

.menu-warp .menu-warp__list ul li:first-child {
  margin-left: 0;
}

.menu-warp .menu-warp__tag {
  display: flex;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  height: 76px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.menu-warp .menu-warp__tag::-webkit-scrollbar {
  display: none;
}

.menu-warp .menu-warp__tag ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 10px 0 20px;
}

.menu-warp .menu-warp__tag ul li a {
  padding: 9px 20px;
  border-radius: 3px;
  border: 1px solid rgba(194, 203, 223, 0.5);
  background: var(--gray09);
  box-shadow: 1px 1px 4px 0px rgba(114, 142, 171, 0.1);
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--gray02);
}

.menu-warp .menu-warp__tag ul li a:hover {
  background: var(--gray08);
}

.menu-warp .menu-warp__tag ul li:first-child {
  margin-left: 0;
}

/* menu sub */
.menu-sub__list {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 50px;
  width: 100%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.menu-sub__list::-webkit-scrollbar {
  display: none;
}

.menu-sub__list ul {
  padding: 0;
  display: flex;
  gap: 12px;
}
.menu-sub__list ul li {
  padding: 20px 10px 0 10px;
  font-size: 1.3rem;
  color: var(--gray03);
  font-weight: 600;
  height: 50px;
}

.menu-sub__list ul li.on {
  border-bottom: 3px solid var(--gray02);
  color: var(--gray01);
}
.menu-sub__list ul li:hover {
  color: var(--gray01);
}

.menu-sub__list ul li:first-child {
  margin-left: 0;
}

.menu-sub__list {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 50px;
  width: 100%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.menu-sub__list::-webkit-scrollbar {
  display: none;
}

.menu-sub__list ul {
  padding: 0;
  display: flex;
  gap: 12px;
}
.menu-sub__list ul li {
  padding: 20px 10px 0 10px;
  font-size: 1.3rem;
  color: var(--gray03);
  font-weight: 600;
}

/* menu footer */
.menu-footer__list {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.menu-footer__list::-webkit-scrollbar {
  display: none;
}

.menu-footer__list ul {
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  gap: 30px;
  height: 18px;
}
.menu-footer__list ul li {
  font-size: 1.3rem;
  color: var(--gray03);
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .menu {
    padding: 0 8px;
    top: -60px;
  }
}

/* footer */
.picks {
  display: flex;
  max-width: 1180px;
  margin: 0 auto;
  padding: 100px 12px;
  gap: 60px;
}

.picks h2 {
  font-size: 2rem;
  color: var(--white);
  font-weight: 600;
  padding: 0 0 30px 0;
}

.footer {
  display: flex;
  flex-direction: column;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 12px;
}

.footer h2 {
  font-size: 2rem;
  color: var(--gray01);
  font-weight: 600;
  padding: 0 0 20px 0;
}

.footer-history {
  border-bottom: 1px dotted var(--gray05);
  padding-bottom: 60px;
  margin-bottom: 60px;
}

.footer-sitemap {
  display: flex;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 12px;
  gap: 60px;
}

.application {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.application .application__link a {
  display: flex;
  width: 240px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 1px solid var(--gray01);
  background: var(--gray08);
  color: var(--gray01);
  font-size: 1.6rem;
  font-weight: 400;
  gap: 10px;
}

.application .application__link a:hover {
  background: var(--gray07);
}

.application .application__link a i.icon-arrow-right {
  width: 20px;
  height: 20px;
  background-image: url(../img/right-arrow2.svg);
  background-size: 100%;
}

.company-info {
  width: calc(50% - 12px);
}

.company-info .site-info {
  display: inline-flex;
  flex-direction: row;
  line-height: 16px;
  width: 200px;
}

.company-info .site-info .sitemap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.company-info .site-info .sitemap dt {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--gray01);
}

.company-info .site-info .sitemap dd {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--gray03);
}

.company-info .site-info .sitemap dd a:hover {
  text-decoration: underline;
}

.address {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 24px;
  color: var(--gray03);
  text-align: center;
  padding: 12px 0;
  background: var(--gray08);
}

@media screen and (max-width: 768px) {
  .picks {
    padding: 80px 16px;
    gap: 20px;
  }
  .picks h2 {
    font-size: 1.6rem;
    padding: 0 0 20px 0;
  }
  .footer {
    padding: 0 16px;
  }

  .footer-sitemap {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 16px;
    gap: 10px;
  }

  .application .application__link a {
    width: 100%;
  }

  .company-info {
    width: 100%;
  }

  .company-info .site-info .sitemap {
    margin-top: 30px;
  }
}

@media screen and (max-width: 480px) {
  .picks {
    gap: 12px;
  }
}

/* breadcrumb */
.breadcrumb {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 1px;
  border-top: 1px solid var(--gray06);
}

.breadcrumb .breadcrumb__menu {
  width: 100%;
  max-width: 1180px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  padding: 0 12px;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-size: 1.1rem;
  color: var(--gray03);
}

.breadcrumb .breadcrumb__menu::-webkit-scrollbar {
  display: none;
}

.breadcrumb .breadcrumb__menu .icon-arrow-right {
  width: 8px;
  height: 8px;
  background-size: 100%;
  background-image: url(../img/right-arrow.svg);
}

.breadcrumb .breadcrumb__menu a:hover {
  text-decoration: underline;
}

.breadcrumb .breadcrumb__menu .now {
  color: var(--gray02);
}

/* list */
.tabs {
  margin-top: 1px;
  width: 100%;
  background: var(--gray09);
  height: 100px;
  border-bottom: 1px solid var(--white);
  box-shadow: -4px -4px 4px 0px rgba(255, 255, 255, 0.7) inset;
}

.tabs__menu {
  max-width: 1180px;
  padding: 0 12px;
  margin: 0 auto;
}

.tabs__menu ul {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding-top: 40px;
  padding-left: 0;
}

.tabs__menu ul li a {
  display: flex;
  padding: 16px 48px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px 8px 0px 0px;
  background: var(--white);
  box-shadow: 0px 0px 0px 0.533px rgba(255, 255, 255, 0.2) inset,
    -2.667px -2.667px 8px 0px #fff;
  font-size: 1.6rem;
  color: var(--gray03);
  font-weight: 600;
}

.tabs__menu ul li a.on,
.tabs__menu ul li a:hover {
  background: var(--gray08);
  box-shadow: 0px 0px 0px 0.533px rgba(255, 255, 255, 0.2) inset,
    -2.667px -2.667px 8px 0px #fff, 4px 4px 8px 0px rgba(174, 174, 192, 0.4);
  color: var(--gray02);
}

.tabs__padding {
  background: var(--white);
  position: relative;
  z-index: 2;
  height: 20px;
  margin-top: -3px;
}

.list-titles {
  margin-top: 1px;
  width: 100%;
  background: var(--gray09);
  height: 100px;
  border-bottom: 1px solid var(--white);
  box-shadow: -4px -4px 4px 0px rgba(255, 255, 255, 0.7) inset;
}

.list-titles h1 {
  display: flex;
  align-items: center;
  max-width: 1180px;
  height: 100px;
  padding: 0 12px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 1.8rem;
}

.list-titles h1 .naming {
  padding-left: 4px;
}
.list-titles h1 .spacing {
  padding: 0 4px;
}

.pagination {
  margin: 40px 0 100px 0;
  text-align: center;
}

.pagination a {
  color: var(--gray02);
  padding: 6px 12px;
  text-decoration: none;
  margin: 0 4px;
  border-radius: 4px;
  line-height: 16px;
  font-size: 1.3rem;
  font-weight: 600;
}

.pagination a.active {
  background-color: var(--gray02);
  color: var(--white);
}

.pagination a:hover:not(.active) {
  background-color: var(--gray07);
}

@media screen and (max-width: 768px) {
  .tabs__menu ul {
    gap: 6px;
  }
  .tabs__menu ul li a {
    padding: 8px 24px;
  }
  .tabs__padding {
    margin-top: -20px;
  }
}

/* cards */
.rank-card {
  width: 100%;
}

.rank-card h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: var(--gray08);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 20px;
  color: var(--gray01);
  text-align: center;
  padding: 14px 0;
}

.rank-card h3 i {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-size: 100%;
}

.rank-card h3 i.icon-like-circle {
  background-image: url(../img/like-circle.svg);
}

.rank-card h3 i.icon-dislike-circle {
  background-image: url(../img/dislike-circle.svg);
}

.rank-card .rank-first {
  border-radius: 8px;
  border: 1px solid var(--gray08);
  border-top: none;
  background: var(--white);
  box-shadow: 4px 4px 10px 0px rgba(174, 174, 192, 0.2);
  margin-bottom: 12px;
}

.rank-card .rank-list {
  border-radius: 8px;
  border: 1px solid var(--gray08);
  border-top: none;
  background: var(--white);
  box-shadow: 4px 4px 10px 0px rgba(174, 174, 192, 0.2);
  margin-bottom: 30px;
  padding: 0 24px;
}

.rank-card .rank-first .card__a {
  display: flex;
  align-items: center;
  padding: 24px;
  cursor: pointer;
}

.rank-card .rank-list .card__a {
  border-bottom: 1px solid var(--gray06);
  display: flex;
  align-items: center;
  padding: 24px 0;
  cursor: pointer;
}

.list-card {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 12px;
}

.list-card .rank-list {
  border-radius: 8px;
  border: 1px solid var(--gray08);
  border-top: none;
  background: var(--white);
  box-shadow: 4px 4px 10px 0px rgba(174, 174, 192, 0.2);
  margin-bottom: 30px;
  padding: 0 24px;
}

.list-card .rank-first .card__a {
  display: flex;
  align-items: center;
  padding: 24px;
  cursor: pointer;
}

.list-card .rank-list .card__a {
  border-bottom: 1px solid var(--gray06);
  display: flex;
  align-items: center;
  padding: 24px 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .rank-card .rank-list {
    padding: 0 12px;
  }
  .rank-card .rank-first .card__a {
    padding: 24px 12px;
  }
  .list-card {
    padding: 0;
  }
  .list-card .rank-list {
    padding: 0 16px;
  }
}

.rank-card .rank-list .card__a:last-child,
.list-card .rank-list .card__a:last-child {
  border-bottom: none;
}

.card__a a {
  display: block;
}

.card__a .ranking {
  width: 40px;
  height: 40px;
  color: var(--gray01);
  font-size: 2.4rem;
  font-weight: 600;
  font-style: italic;
  text-align: center;
}

.card__a .profile-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
  flex: 1 1 0%;
}

.card__a .profile-info h3 {
  color: var(--gray02);
  font-size: 1.6rem;
  font-weight: 600;
}

.card__a .profile-info h3 .mbti-info {
  color: var(--gray03);
  font-size: 1.2rem;
  font-weight: 400;
  padding-left: 10px;
}

.card__a .profile-info ul.tags {
  display: inline-block;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.card__a .profile-info ul.tags li {
  display: inline-flex;
  background: var(--white);
  padding: 3px 8px;
  border-radius: 3px;
  border: 1px solid rgba(31, 33, 46, 0.5);
  color: var(--gray01);
  font-size: 1.2rem;
  font-weight: 400;
  overflow-wrap: anywhere;
  margin: 0 4px 6px 0;
}

.card__a .profile-info ul.tags li:hover {
  background: var(--gray09);
}

.card__a .profile-img img {
  display: flex;
  align-items: center;
  width: 72px;
  height: 72px;
  background-position: center center;
  border-radius: 8px;
  margin-left: 8px;
}

.card__b {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 24px;
}

.card__b li {
  border-radius: 8px;
  background: var(--gray09);
  box-shadow: 0px 0px 0px 0.533px rgba(255, 255, 255, 0.2) inset,
    -2.667px -2.667px 8px 0px #fff, 4px 4px 8px 0px rgba(174, 174, 192, 0.4);
  width: calc(25% - 18px);
  padding: 12px;
  box-sizing: border-box;
}

.card__b.tier {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 12px;
}

.card__b.tier li {
  box-shadow: none;
  width: calc(50% - 12px);
}

@media screen and (max-width: 768px) {
  .card__b li {
    width: calc(50% - 12px);
  }
  .card__b.tier li {
    box-shadow: none;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .card__b li {
    width: 100%;
  }

  .card__b.tier li {
    padding: 8px;
  }

  .card__b.tier .profile-info {
    gap: 4px;
    margin-left: 8px;
  }

  .card__b.tier .profile-info h4 {
    font-size: 1.4rem;
  }

  .card__b.tier .profile-info .mbti-info {
    font-size: 1.2rem;
  }

  .card__b.tier .profile-img img {
    width: 48px;
    height: 48px;
  }
}

.card__b li a {
  display: flex;
  align-items: center;
}

.card__b .profile-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: 16px;
  flex: 1 1 0%;
}

.card__b .profile-info h4 {
  color: var(--gray02);
  font-size: 1.6rem;
  font-weight: 600;
}

.card__b .profile-info .mbti-info {
  color: var(--gray03);
  font-size: 1.2rem;
  font-weight: 400;
}

.card__b .profile-img img {
  display: flex;
  align-items: center;
  width: 72px;
  height: 72px;
  background-position: center center;
  border-radius: 8px;
}

/* srarch banner of top page */
.banner {
  background-size: cover;
  background: url(../img/top-bg.jpg) no-repeat center bottom 20%;
  min-height: 380px;
}

.banner .banner__description {
  padding-top: 90px;
}

.banner .banner__description h2 {
  font-size: 3.6rem;
  color: var(--white);
  font-weight: 600;
  text-align: center;
}

.banner .banner__search {
  max-width: 680px;
  margin: 36px auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.banner .banner__search .search {
  width: 100%;
  height: 70px;
  border-radius: 3px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
  padding: 20px;
  outline: none;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--gray02);
}

.banner .banner__search .search::placeholder {
  color: var(--gray05);
}

.banner .banner__search .icon-search {
  position: absolute;
  right: 24px;
  padding: 20px;
  cursor: pointer;
}

.banner .banner__search .icon-search:hover {
  opacity: 0.8;
}

.banner .banner__search .icon-search img {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .banner {
    min-height: 300px;
  }
  .banner .banner__description {
    padding-top: 60px;
  }
  .banner .banner__search {
    margin: 36px auto;
    padding: 0 16px;
  }
  .banner .banner__search .search {
    height: 60px;
    padding: 16px;
    font-size: 1.6rem;
  }
  .banner .banner__search .icon-search {
    right: 24px;
    padding: 16px;
  }
}
