.menu {
  max-width: 1196px;
  margin: 0 auto;
  position: relative;
  top: -50px;
  padding: 0 20px;
}

/* menu warp */
.menu-warp {
  width: 100%;
  border-radius: 5px;
  height: 126px;
  width: 100%;
  background-color: var(--gray09);
  filter: drop-shadow(4px 4px 10px rgba(174, 174, 192, 0.2));
}

.menu-warp .menu-warp__list {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 50px;
  width: 100%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.menu-warp .menu-warp__list::-webkit-scrollbar {
  display: none;
}

.menu-warp .menu-warp__list ul {
  padding: 0 20px;
  display: flex;
  gap: 12px;
}
.menu-warp .menu-warp__list ul li {
  padding: 14px 10px 0 10px;
  font-size: 1.3rem;
  color: var(--gray03);
  font-weight: 600;
  height: 50px;
}

.menu-warp .menu-warp__list ul li.on {
  border-bottom: 3px solid var(--gray02);
  color: var(--gray01);
}
.menu-warp .menu-warp__list ul li:hover {
  color: var(--gray01);
}

.menu-warp .menu-warp__list ul li:first-child {
  margin-left: 0;
}

.menu-warp .menu-warp__tag {
  display: flex;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  height: 76px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.menu-warp .menu-warp__tag::-webkit-scrollbar {
  display: none;
}

.menu-warp .menu-warp__tag ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 10px 0 20px;
}

.menu-warp .menu-warp__tag ul li a {
  padding: 9px 20px;
  border-radius: 3px;
  border: 1px solid rgba(194, 203, 223, 0.5);
  background: var(--gray09);
  box-shadow: 1px 1px 4px 0px rgba(114, 142, 171, 0.1);
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--gray02);
}

.menu-warp .menu-warp__tag ul li a:hover {
  background: var(--gray08);
}

.menu-warp .menu-warp__tag ul li:first-child {
  margin-left: 0;
}

/* menu sub */
.menu-sub__list {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 50px;
  width: 100%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.menu-sub__list::-webkit-scrollbar {
  display: none;
}

.menu-sub__list ul {
  padding: 0;
  display: flex;
  gap: 12px;
}
.menu-sub__list ul li {
  padding: 20px 10px 0 10px;
  font-size: 1.3rem;
  color: var(--gray03);
  font-weight: 600;
  height: 50px;
}

.menu-sub__list ul li.on {
  border-bottom: 3px solid var(--gray02);
  color: var(--gray01);
}
.menu-sub__list ul li:hover {
  color: var(--gray01);
}

.menu-sub__list ul li:first-child {
  margin-left: 0;
}

.menu-sub__list {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 50px;
  width: 100%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.menu-sub__list::-webkit-scrollbar {
  display: none;
}

.menu-sub__list ul {
  padding: 0;
  display: flex;
  gap: 12px;
}
.menu-sub__list ul li {
  padding: 20px 10px 0 10px;
  font-size: 1.3rem;
  color: var(--gray03);
  font-weight: 600;
}

/* menu footer */
.menu-footer__list {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.menu-footer__list::-webkit-scrollbar {
  display: none;
}

.menu-footer__list ul {
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  gap: 30px;
  height: 18px;
}
.menu-footer__list ul li {
  font-size: 1.3rem;
  color: var(--gray03);
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .menu {
    padding: 0 8px;
    top: -60px;
  }
}
